
html, body {
    margin: 0;
    font-family: Bahnschrift, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    padding: 1rem 5rem;
    margin-left: 2rem;
    text-align: justify;
}
input, textarea, select{
    margin-bottom: 5rem;
}
input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

label{
    padding: 5px 5px;
    width: 17rem;
    display: inline-block;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
/*.navbar-item{
    position: absolute;
    right:0px;
    gap: 20px;
    flex-direction: row;
}

.navbar-menu{
    padding: 20px;
    border: 25px gray;
    background-color: #999999;

}
*/
.navbar-menu{
    background-color: #999999;
    position: absolute;
    width: 100%;
}
.navbar-item{
    float: right;
}
.navbar-menu a{
    margin-right: 10px;
    padding: 15px 15px;
    justify-content: right;
    align-items: center;
    text-decoration: none;
    color: black;
    cursor: pointer;

}
.navbar-menu a:hover{
    font-size: 18px;
    color:white;
}

.entete{
    padding: 1rem 4rem;
    text-align: justify;
}

.entete img{
    margin-right: 15px;
}

footer{
    bottom:0;
    width:100%;
    padding-top:50px;
    height:50px;
    text-align: center;
}
.table{
    padding: 1px 2px;
    text-align: center;
    border: 1px #999999;
    border-radius: 5%;
}
th{
    height: 10px;
}
td{
    padding: 1px 25px;
    text-align: center;
    width: auto;
}
tr{
    padding: 2px 2px;
    width: content-box;
}



