<form method="post" action="{{ path('effacer-sortie', {'id': sortie.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cette sortie?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sortie.id) }}">
    <button class="btn">Effacer</button>
</form>
