{% extends 'base.html.twig' %}

{% block title %}Modifier une Sortie |{{parent()}}{% endblock %}

{% block body %}
    <h1>Modifier une Sortie</h1>

    {{ include('sortie/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('liste-sorties') }}"><button>Retour à la liste des sorties</button></a>

    {{ include('sortie/_delete_form.html.twig') }}
{% endblock %}
