{% extends 'base.html.twig' %}

{% block title %}Nouvelle Sortie |{{parent()}}{% endblock %}

{% block body %}
    <h1>Créer une nouvelle sortie</h1>

    {{ include('sortie/_form.html.twig') }}

    <a href="{{ path('liste-sorties') }}"><button>Retour à la liste</button></a>
{% endblock %}
