{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Ajouter un nouvel utilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <button><a href="{{ path('admin_liste_users') }}">Liste utilisateurs</a></button>
{% endblock %}
